<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ranobe</title>
</head>
<body>
<form action="/ranobe-get" method="post">
    <input type="text" name="token" required placeholder="Токен">
    <button type="submit">Получить</button>
</form>
<h1>добавить ranobe</h1>
<form action="/ranobe-create" method="post">
    <input type="text" name="name" placeholder="название" required>
    <input type="number" name="chapters" placeholder="глав" required>
    <select name="titleID">
        <div th:each="title : ${titles}">
            <option th:text="${title.name}" th:value="${title.ID}"></option>
        </div>
    </select>
    <input type="text" placeholder="token" name="token">
    <button type="submit"> создать</button>
</form>
<th:block th:if="${ranobes}!=null">
    <ul>
        <th:block th:each="ranobe :${ranobes}">
            <li>
                <p th:text="${ranobe.getName()} + ' количество глав: ' + ${ranobe.getChapters()} + ' от тайтла: ' + ${ranobe.getTitleName()}"></p>
                <form action="/ranobe-update" method="post">
                    <input type="hidden" name="ID" th:value="${ranobe.ID}">
                    <input type="text" name="name" placeholder="название" required>
                    <input type="number" name="chapters" placeholder="глав" required>
                    <select name="titleID">
                        <div th:each="title : ${titles}">
                            <option th:text="${title.name}" th:value="${title.ID}"></option>
                        </div>
                    </select>
                    <input type="text" placeholder="token" name="token">
                    <button type="submit"> обновить</button>
                </form>
                <form action="/ranobe-delete" method="post">
                    <input type="hidden" name="ID" th:value="${ranobe.ID}">
                    <input type="text" placeholder="token" name="token">
                    <button type="submit"> удалить</button>

                </form>
            </li>
        </th:block>
    </ul>
</th:block>
</body>
</html>